@font-face {
  font-family: 'IconFont';
  src: url('../fonts/icon.woff') format('woff'),
       url('../fonts/icon.ttf')  format('truetype');
}

.icon {
  font-family: 'IconFont';
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}

.icon--check:before  { content: '\e800'; }
.icon--remove:before { content: '\e801'; }
.icon--off:before    { content: '\e802'; }
.icon--load:before   { content: '\e803'; }
